    h1
    {
        color: blue;
        font-family: "courier";
        text-align: center;
    }
   
    p.nombre {
        color:darkred;
        font-family: "courier";
        text-align: center;
        font-size: 30px;
   }